[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "*"
kafka-python = "*"
psycopg2 = "*"
requests = "*"
click = "*"

[dev-packages]
pycodestyle = "*"
flake8 = "*"

[requires]
python_version = "3.10"
